.add-btn {
  position: absolute;
  right: 8rem;
  bottom: 4.5rem;
  height: 1.5rem;
  width: 4rem;
  cursor: pointer;
  color: var(--primary-100);
  border: none;
  border-radius: 4px;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.close-btn2 {
  position: absolute;
  right: 3.5rem;
  bottom: 4.5rem;
  height: 1.5rem;
  width: 4rem;
  cursor: pointer;
  color: var(--primary-100);
  border: none;
  border-radius: 4px;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.add-btn:hover, .close-btn2:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  height: 2rem;
  width: 5rem;
}

textarea.input-field {
  padding: .6rem;
}

#price-input {
  padding: .6rem;
}